# ask if user wants to change the board output
board_colour_ask: "no"
# if board_colour_ask == 'no' what version is default
board_colour: 2
# ask if user wants to play pvp or test
question_test: "no"
# if question_test == 'no', what version is default
pvp: "yes"
# ask if user wants to input a board
Board_creator: "no"
# ask if user wants to play rus version
Rus_question: "yes"
# if Rus_question == 'no', what version is default
Rus: "yes"
